Start editing to see some magic happen :)
<!-- <br/><br/>{{name }}
  <br/><br/>{{ getName() | uppercase }}
  <br/><br/>{{ obj.name | titlecase }} , {{ obj.age }}
  <p *ngFor = "let item of arr">{{ item }}</p>
  <p>{{ 555 * 100}}</p>
  <p>{{siteUrl}}</p> -->
<!-- <h1><app-user></app-user></h1>
  <app-login></app-login>
  <app-signup></app-signup> -->
<!-- <app-event></app-event> -->
<!-- <app-property></app-property> -->
<!-- <app-conditions></app-conditions> -->
<!-- <app-loops></app-loops> -->
<!-- <app-forms></app-forms> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-input [toChild]="arr"></app-input> -->
<!-- <app-output (parent)="toParent($event)"></app-output>
<p>{{title}}</p> --><br/><br/>
<!-- routing -->
<!-- <a routerLink="event">Event</a> |
<a routerLink="property">Property</a> |
<a routerLink="conditions">Conditions</a> |
<a routerLink="aa">404</a>
<router-outlet></router-outlet> -->
<!-- directry -->
<!-- <p>hello world</p>
<p appCustomDir>hello world</p> -->

<table border="1">
  <tr>
    <td>body</td>
    <td>ID</td>
    <td>Title</td>
    <td>User id</td>
  </tr>
  <tr *ngFor = "let item of apiData">
    <td>{{item.id}}</td>
    <td>{{item.body}}</td>
    <td>{{item.title}}</td>
    <td>{{item.userId}}</td>
  </tr>
</table>
